.monitor {
  position: relative;
}

.drop-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
}

.popup-btn {
  position: absolute;
  cursor: pointer;
}

.cat-popup-btn {
  left: 33%;
  height: 10%;
  top: 60%;
  width: 10%;
  background-color: yellow;
  opacity: 0.4;
  z-index: 3;
}

.eth-popup-btn {
  left: 18%;
  height: 10%;
  top: 47%;
  width: 6%;
  background-color: red;
  opacity: 0.4;
  z-index: 3;
}

#coin-animation{
  position: absolute;
  top: calc(73% - 5px);
  width: calc(19% + 7px);
  left: calc(15% + 6px);
}

#coin-animation > div{
  width: 100%!important;
}


#portal-animation {
  position: absolute;
  left: 40%;
  bottom: calc(12% + 5px);
}

.percentage {
  left: calc(33% + 5px);
  top: 40%;
  position: absolute;
  color: #5BFFFC;
  z-index: 10;
}

.progress {
  background-color: #5BFFFC;
  width: calc(2% + 5px);
  height: 100px;
  position: absolute;
  left: calc(33% + 5px);
  bottom: 27%;
}

.drop-animation{
  position: absolute;
  width: 70%;
  top: 21%;
  right: -80px;
  z-index: 1;
}

.remove-click-layer{
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}

.kitty-count {
  position: absolute;
  left: 37%;
  top: calc(55% + 2px);
  color: #5BFFFC;
  font-size: 1.8em;
  padding: 0 20px;
  background-color: #270F5D;
}


.QRT-count {
  position: absolute;
  left: calc(37% + 10px);
  top: calc(79% - 3px);
  color: #5BFFFC;
  font-size: 1.4em;
  padding: 0 20px;
  background-color: #270F5D;
}