.monitor {
  position: relative;
}

#portal-animation {
  position: absolute;
  left: 0;
  top: 0;
}
.drop-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
}
.cat-popup-btn {
  left: 34%;
  height: 10%;
  top: 60%;
  width: 8%;
  background-color: yellow;
  position: absolute;
}