@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Russo+One');

html, body {
width: 100%;
height: 230vh;
background: linear-gradient(rgb(1, 3, 36) 0%, rgb(105, 2, 97) 150%);
}

svg {
  overflow: hidden;
}

body::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: pink;
}

html::-webkit-scrollbar{
  width: 10px;
	background-color: magenta;
}

html::-webkit-scrollbar-thumb{
  background-color: cyan;
}

.App {
  position: relative;

  height: 230vh;
  display: flex;
  flex-direction: column;
  text-align: center;

  z-index: 0;
  
}

.App h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 72pt;
  background: -webkit-linear-gradient(rgb(255, 136, 0), rgb(255, 0, 106) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;

}

.App h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 48pt;
  color: cyan;
  text-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
  -webkit-margin-before: 0.1em;
  -webkit-margin-after: 0.1em;
}

.App a {
  width: 100%;
  text-decoration: none;
  color: cyan;
  font-size: 16pt;
  text-align: center;
  position: absolute;
  bottom: 0.5em;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}


#portal-animation {
  position: absolute;
  width: 1px;
  margin-left: 450px;

}

#catdrop {
  position: absolute;
  width: 1000px;
  margin-left: 450px;
  z-index: 5;
}

#ethdrop {
  position: absolute;
  width: 1000px;
  margin-left: 450px;
  z-index: 4;
}

.monitor {
  position: absolute;
  width: 500px;
  height: 500px;
  margin-left: 120px;
  margin-top: 60px;
  color: cyan;
  border: 2px solid cyan;
}



.teaser {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bulletin {
  width: 800px;
  height: 500px;
  color: cyan;
  border: 2px solid cyan;
}

.cat-btn {
  position: absolute;
  background: cyan;
  width: 40px;
  height: 20px;
  margin-top: -200px;
  margin-left: -400px;
  cursor: pointer;
}

.eth-btn {
  position: absolute;
  background: magenta;
  width: 40px;
  height: 20px;
  margin-top: -200px;
  margin-left: -600px;
  cursor: pointer;
}



