@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600');

html, body {
width: 100%;
height: 100%;
background: black;
overflow-x: hidden;
font-family: 'Rajdhani', sans-serif;
}

.App {
  font-family: 'Open-sans' sans-serif;
  position: relative;
  background: linear-gradient(rgb(4, 0, 41) 0%, rgb(141, 0, 160) 150%);
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
  
}

.App h1 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 36pt;
  line-height: 24px;
}

.email {
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  bottom: 0.5em;
  z-index: 10;
}

#navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 65px;
  background: #030011;
  color: white;
  z-index: 20;
  overflow: hidden;
}

#navbar a {
  color: white;
  text-decoration: none;

}

#navbar ul {
  display: flex;
  margin-right: 75px;
}

#navbar li{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 16px;
  list-style-type: none; 
  line-height: 24px;
  padding-left: 20px;
}

#navbar img {
  height: 25px;
  margin-left: 75px;
}

#herosplash {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: black;
  color: cyan;
  z-index: 1;
  margin-top: 35px;
}

#herosplash svg {
  width: 100vw;
}

#synopsis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100vw;
  height: 100%;
  background: linear-gradient(#030011 ,#5cfffc);
  z-index: 2;
  box-shadow: 0 0 100px 70px rgb(0,0,0);
}

#synopsis h1 {
  padding-top: 75px;
}

#synopsis img {
  width: 750px;
}

#synopsis p {
  text-align: center; 
  line-height: 24px;
  padding-left: 150px;
  padding-right: 150px;
}

.synopsislastp {
  padding-bottom: 75px;
}

.white-paper {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

#features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: #292634;
  color: white;
  padding-bottom: 100px;
}

.feature-bgs {
  padding-top: 100px;
  text-align: center;

}

.feature-bgs img {
  width: 850px;
}

#features h1 {
  margin-top: 75px;
}

#features h2:nth-of-type(1){
  margin-top: 0px;
}

#features h2:nth-of-type(2){
  padding-top: 150px;
}

#features svg {
  font-family: 'Rajdhani', sans-serif;
}

.feature-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.feature-desc p {
  margin-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  line-height: 24px;
}

.feature-page {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-around;
}

.feature-col {
  height: 100vh;
  width: 28%;
}

.feature-col p {
  padding: 1em;
}

#techtext {
  width: 100vw;
  height: 100%;
  background: -webkit-linear-gradient(#030011, #3e178c);
  color: white;
  text-align: center;
}

#techtext h1 {
  padding-top: 75px;
}

#techtext p {
  padding-left: 150px;
  padding-right: 150px;
}

#techtext p:last-of-type {
  padding-bottom: 75px;
}

#roadmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background: #292634;
  color: white;
}

#roadmap h1 {
  padding-top: 25px;
  text-align: center;
}

#roadmap img {
  width: 900px;
  padding-bottom: 25px;
}

#social {
  display: flex;
  flex-direction: rpw;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  background: #030011;
  color: white;
}

#social p {
  padding-left: 75px;
  line-height: 24pt;
  font-size: 16pt;
}

.social-inner {
  padding-right: 75px;
  display: flex;
}

.twitter {
  width: 50px;
  
}

.github {
  width: 50px;
  padding-left: 25px;
}

.instagram {
  width: 50px;
  padding-left: 25px;
}
 
.teaser {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Modal */

.modal {
  font-size: 12px;
  color: black;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
  color: black;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  color: black;
}

.button {
  position: absolute;
  z-index: 10;
  background: none;
  border: none;
  width: 230px;
  height: 150px;

  margin-top: 435px;
  margin-left: -465px;
  cursor: pointer;
}

.button:focus {
  outline: 0;
}

.screen {
  position: absolute;
  width: 350px;
  height: 200px;
  margin-top: 40px;
  margin-left: 78px;
  color: rgb(0, 255, 21);
  text-align: left;
}